body{
    margin : 0px;
}
a{
    color:black;
    text-decoration: none;
}
h1{
    font-size : 3rem;
    text-align: center;
    border-bottom: 1px solid gray;
    margin : 0px;
    padding : 10px;
}

h5{
    padding : 0px;
}

ol{
    border-right : 1px solid gray;                
    margin : 0px;
    padding : 20px;               
}

strong{
    color : rgb(0, 0, 128);
}

#grid{
    display : grid;
    grid-template-columns:  230px 1fr;
}

#grid ol{
    padding-left : 33px;
}

#grid #article{
    padding-left : 25px;                
}

@media(max-width:800px)
{
    #grid{
        display : block;                
    } 

    ol{
        border-right : none;       
    }

    h1{
        border-bottom: none;  
    }
}