body{
    margin : 0px;
    background-color : rgb(248, 244, 244);
}
a{
    color:black;
    text-decoration: none;
}
h1{
    font-size : 3rem;
    text-align: center;
    border-bottom: 1px solid gray;
    margin : 0px;
    padding : 10px;
}

h5{
    margin : 0px;
    padding : 0px;
}

h3{
    margin : 0px;
    padding : 0px;
}

ol{
    border-right : 1px solid gray;                
    margin : 0px;
    padding : 20px;               
}

strong{
    color : rgb(0, 0, 128);
}

#grid{
    display : grid;
    grid-template-columns:  230px 1fr;
}

#grid ol{
    padding-left : 33px;
}

#grid #article{
    padding-left : 25px;                
}

#foot_area{
    font-size : 11px;
    border-top : 1px solid gray;
    padding-top : 10px;   
    padding-bottom : 10px;      
    border-bottom : 1px solid gray;       
}

#summary{    
	background-color: rgb(226, 210, 210);
	width:80%;
	height:90px;	
	border:1px solid #777777;
    border-radius : 10px;
    margin-top : 20px;
	padding-left: 10px;
	padding-top: 10px
}

@media(max-width:800px)
{
    #grid{
        display : block;                
    } 

    #summary{  
        background-color: rgb(255, 255, 255);  
        border : none;            
    }
    
    ol{
        border-right : none;       
    }

    h1{
        border-bottom: none;  
    }
}