body{
    margin : 0px;
    background-color : rgb(248, 244, 244);
}
a{
    color : black;
    text-decoration: none;
}

#title_tag{
    color : white;    
}

h1{    
    font-size : 3rem;
    color : black;
    text-align: center;
    border-bottom: 1px solid gray;
    margin : 0px;
    padding : 10px;    
}

#title{
    position: absolute;   
    top : 5px;
    margin-bottom : 5px;      
}

h5{
    margin : 0px;
    padding : 0px;
}

h3{
    margin : 0px;
    padding : 0px;
}

ul{
    border-right : 1px solid gray;                
    margin : 0px;
    padding : 20px;             
}

li:hover{
    transform:scale(1.1);
    transform-origin: center;
    transition: all 1s;    
}

.category-space:hover{
    color : rgb(243, 234, 239);
    font-weight : bold;   
}

strong{
    color : rgb(0, 0, 128);
}

.list-space{
    margin-bottom : 10px;   
}

#grid{
    display : grid;
    grid-template-columns:  230px 1fr;
}

#grid ol{
    padding-left : 33px;
}

#grid #article{
    padding-left : 25px;             
}

#foot_area{
    font-size : 11px;
    border-top : 1px solid gray;
    padding-top : 10px;   
    padding-bottom : 10px;      
    border-bottom : 1px solid gray;       
}

#summary{    
	background-color: rgb(226, 210, 210);
	width:80%;
	height:90px;	
	border:1px solid #777777;
    border-radius : 10px;
    margin-top : 20px;
	padding-left: 10px;
	padding-top: 10px
}

#category{
    margin-left:5px;
    background: linear-gradient(rgb(87, 87, 141), rgb(30, 30, 49));
}

@media(max-width:800px)
{
    #grid{
        display : block;                
    } 

    #summary{  
        background-color: rgb(255, 255, 255);  
        border : none;            
    }
    
    ol{
        border-right : none;       
    }

    h1{
        border-bottom: none;  
    }
}